@using VendorsAndOrders.Models;

@{
	Layout = "_Layout";
}

@{
	Vendor vendor = Model["vendor"];
	List<Order> orders = vendor.Orders;

	<h3 id="title">You've made <b>@orders.Count order(s)</b> with <b>@vendor.Name</b></h3>
	if (orders.Count > 0)
	{
	 <h4 id="subtitle">Date of last order: <b>@orders[orders.Count -1].Date.ToShortDateString()</b></h4>
	}
}

<br>

<ol>
	@foreach (Order order in @Model["orders"])
	{
		<li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title for $@order.Price on @order.Date.ToShortDateString()</a></li>
	}
</ol>

<br>
<a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order for @Model["vendor"].Name</a>
<br>
<a href="/vendors">Return to vendors page</a>
<br>
<a href="/">Return to homepage</a>