@using VendorsAndOrders.Models;

@{
	Layout = "_Layout";
}

<h3>You've made @Model["vendor"].Orders.Count orders with @Model["vendor"].Name</h3>
@if (@Model["vendor"].Orders.Count == 0)
{
	 <h3>Date of last order: @Model["vendor"].Orders[Model["vendor"].Orders.Count - 1].Date</h3>
}
</h3>

<ol>
	@foreach (Order order in @Model["orders"])
	{
		<li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title for $@order.Price on @order.Date</a></li>
	}
</ol>